* {
  font-family: monospace;
}
body{
  background-color: rgb(188, 255, 121);
  overflow: hidden;
}
.App {
  height:fit-content;
  text-align: left;
  background-color: rgb(188, 255, 121);
}
.About,.contact,.project{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height:calc(100vh - 78.22px);
  overflow: hidden;
}
.contact{
  align-items: center;
  h4{
font-size: 14px;
line-height: 30px;
  }
}
.contactdiv{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 50px;
  border-radius: 10px;
  height: fit-content;
}
.subtitle{
  font-size: 1.2rem;
}
.about,.contacttitle{
  font-size: 1.5rem;
  font-weight: 500;
  width: fit-content;
  padding: 7.5px 15px;
  border-radius: 5px;
  background-color: rgba(65, 105, 0, 0.23);
  display: inline;

}
.navbrand,.type,.aboutquote,.contact h4{
  letter-spacing: 1.5px;
}
.navbrand{
  margin-left: -11px;
}
.name{
  font-size:45px;
  font-weight:bold;
  color: rgb(0, 92, 6);
  text-shadow: 1px 1px 1px black;
}
.aboutquote,.type{
  font-size: 16px;
}
.aboutpara{
  text-align: justify;
}
.header{
  text-shadow: 1px 1px 1px rgb(21, 92, 0);
}

.navlink {
  padding: 0 10px;
  margin: 0 48px 0 0;
  border: solid 2px green;
  transition: 1s ease-out;
}
.navlink:hover{
  border-radius: 10px;
  box-shadow: 0px 0px 3px rgb(70, 82, 0);
  transition: 0.4s ease-in-out;
}
.collapse{
  display: flex;
  justify-content: end;
  transition: 0.3s ease-in-out;
}
.link{
  text-decoration:none;
  color: #003b76;
}
.namehead,.name,.type,.aboutquote,.aboutpara,.titlehead,.subtitle,.link,.icon,.About,.about,.contacttitle{
  animation: fade-in 3.5s ease-in-out, from-top 0.75s ease-in-out;
  overflow: hidden;
}
.contactdiv{
  animation:from-bottom .75s ease-in-out;
  box-shadow: 0px 0px 5px black ;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}
@keyframes from-top {
  from {
    position: relative;
    top: -500px;
    right: -500px;
  }
  to {
    position: relative;
    right: 0px;
    top: 0px;
  }
}
@keyframes from-bottom {
  from {
    box-shadow: 0px 0px 0px black ;
  }
  to {
    box-shadow: 0px 0px 5px black ;
  }
}
@keyframes fade-in {
  from {
    opacity: 20;
  }
  to {
    opacity: 100;
  }
}
